.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.heroSection {
  /* color: white; */
  height: 100vh;
}
.heroBackground {
  height: 100vh;
  z-index: -1;
}
.heroContent {
  display: grid;
  grid-template-rows: max-content 1fr;
  height: 100%;
  align-items: center;
}


